[Unit]
Description=MediaTek CCCI ModemManager bundle
Requires=mtk-ccci-owner.service
BindsTo=mtk-ccci-owner.service
After=mtk-ccci-owner.service dbus.service ModemManager.service
Conflicts=ModemManager.service
ConditionPathExists=/etc/default/mtk-ccci

[Service]
Type=exec
ExecStartPre=/usr/bin/python3 /usr/libexec/mtk-ccci/wait-ready.py
ExecStart=/usr/bin/python3 /usr/libexec/mtk-ccci/run-limited.py --role modemmanager
TimeoutStartSec=150
Restart=no
TimeoutStopSec=10
KillMode=mixed

[Install]
WantedBy=multi-user.target
